/**
* Styles pour le composant Banner
*/

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 32px;
    border-bottom: 3px solid #ccc;
    background-color: #696767;
    
}
.banner-title {
    color : #792f2f;
    font-size: 2rem;
    margin: 0;
    font-family: 'Arial', sans-serif;
}
.banner-logo {
    width: 100px;
    height: auto;
    margin-left: 20px;

}