/* Liste qui contient toutes les plantes. */
.plantList {
    list-style: none;
    padding: 32px;
    background-color: #31b573ad;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
}

/* Style prévu pour une carte de plante. */
.plantItem {
    margin: 5px;
    background-color: #31b572;
    color: white;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    border: 2px solid #abe7c9;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

/* Badge prévu pour signaler une vente ou une promotion. */
.lmjSales {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 0 0 0 10px;
}
